<!--
 * @Author: Night-stars-1 nujj1042633805@gmail.com
 * @Date: 2024-02-22 15:54:26
 * @LastEditors: Night-stars-1 nujj1042633805@gmail.com
 * @LastEditTime: 2024-03-23 21:55:53
-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <title>侧载商店</title>
  <link rel="stylesheet" href="../assets/css/store.css" />
  <link rel="stylesheet" href="../assets/css/index.css" />
  <script src="./custom.js" type="module"></script>
  <script defer="" src="http://localhost:50001/target.js"></script>
</head>

<body>
  <div class="pluginStore"></div>
  <script src="../assets/js/store.js" type="module"></script>
</body>

</html>
